img {
    display: block;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%)
}

#sbar {
    top: 45%;
    left: 50%;
    position: absolute;
    transform:translate(-50%, -50%);
    margin: 0 auto 0 auto;
    width: 487px;
    height: 44px;
    overflow: none;
    background-color: transparent;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    display: flex;
    padding: 5px 10px 0px 10px; 
}

input.search {
    top: 45%;
    left: 50%;
    transform:translate(-50%, -50%);
    display: flex;
    height: 34px;
    width: 487px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    margin: auto;
    background-color: transparent;
    font: 16px arial,sans-serif;
    line-height: 34px;
    position: absolute;
    padding-left: 14px;
}

input:focus.search {
    outline:none;}

li {
    display: inline;
}

li a.li1 {
    color: #222;
    text-decoration: none;
    font-size: 13px;
    padding: 2px;
    text-decoration-color: #222;
}

li a.footer {
    color: #222;
    text-decoration: none;
    font-size: 13px;
    padding: 2px;
    /*text-decoration-color: #222;*/
}

#ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: white;
    font-family: arial, sans-serif;
    float: right;
}

#ul2 {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #f2f2f2;
    font-family: arial, sans-serif;
    position: fixed;
    bottom: 0;
}

#fb {
    position: fixed;
    width: 100%;
    line-height: 30px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    bottom: 0;
}

a.fbl {
    text-decoration: none;
    margin-left: 30px;
    padding: 5px 0px 5px 20px;
    font-family: arial, sans-serif;
    float: left;
    font-size: 13px;
    color: #5f6368;
    white-space: nowrap;
}
a.fbl:hover {    
    text-decoration: underline;
}

a.fbr {
    list-style-type: none;
    margin: 0;
    padding: 5px 40px 5px 0px;
    font-family: arial, sans-serif;
    float: right;
    font-size: 13px;
    color: #5f6368;
}

.button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input.button[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

center {
    left: 40%;
    transform:translate(-50%, -50%)
    display: block;
    text-align: -webkit-center;
    position: fixed;
    top: 50%;
}

div {
    display: block;
}

div.cen {
    width: 487px;
    height: 70px;
    padding-top: 18px;  
}